// light theme
$light-background:        #efefef;
$light-header-background: #cecece;
$light-border:            #707070;

// dark theme
$dark-background:        #252525;
$dark-header-background: #151515;
$dark-border:            #585858;